<!--<mat-grid-list cols="2" rowHeight="2:1">-->
  <!--<mat-grid-tile>-->
    <!--AAA-->
    <!--&lt;!&ndash;<mat-progress-spinner color="primary" mode="indeterminate" class="small"></mat-progress-spinner>&ndash;&gt;-->
  <!--</mat-grid-tile>-->
  <!--<mat-grid-tile>-->
    <!--BBB-->
    <!--&lt;!&ndash;<span>Loading data, please wait...</span>&ndash;&gt;-->
  <!--</mat-grid-tile>-->
<!--</mat-grid-list>-->

<div class="item-row">
  <div>
    <mat-progress-spinner color="primary" mode="indeterminate" class="small"></mat-progress-spinner>
  </div>
  <div>
    <h4 class="mat-body-2">Loading data, please wait...</h4>
  </div>
</div>


