<div>
  <div fxLayout="row" fxFlex fxLayoutAlign="stretch center">
    <div fxFlex>
      <h4 class="mat-title" style="margin: 0 auto;">Scan document</h4>
    </div>
  </div>
</div>
<div mat-dialog-content>
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-select placeholder="Select output format..." [(ngModel)]="formatsOptions.SelectedValue">
        <mat-option *ngFor="let f of formatsOptions.Options" [value]="f.Value">
          {{f.Title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <button mat-raised-button color="warn" (click)="scan()">
        <mat-icon>scanner</mat-icon>
        SCAN
      </button>
      <label class="upload-button">
        <input type="file" #uploader name="file" (change)="inputChanged($event)">
        <a class="mat-raised-button mat-accent">
            <span class="mat-button-wrapper">
              <mat-icon>attachment</mat-icon>
              CHOOSE FILE
            </span>
        </a>
      </label>
    </div>
    <app-files-list  *ngIf="Result.FileData" [data]="Result.FileData"></app-files-list>
    <div *ngIf="Result.ScannedImage">
      <div id="scannedImage" *ngIf="Result.ScannedImage && Result.ScannedImage.src"></div>
    </div>
  </div>
</div>
<div mat-dialog-actions>
  <div fxLayout="row" fxFlex>
    <button mat-raised-button (click)="cancel()">
      <mat-icon>close</mat-icon>
      Cancel
    </button>
    <div fxFlex></div>
    <button mat-raised-button color="primary" [disabled]="!Result.ScannedImage && !Result.FileData"
            [mat-dialog-close]="Result">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</div>
