@import '../../app-theme';

.custom-list-item-heading {
  font-size: 1.1em;
  color: mat-color($mat-grey, 700);
  margin-bottom: 5px;
}

.custom-list-item-subheading {
  font-size: 0.7em;
  color: mat-color($mat-grey, 600);
}

.custom-list-item-amount {
  font-size: 1.2em;
  color: mat-color($mat-grey, 800);
}

.custom-list-item-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mat-nav-list .mat-list-item .mat-list-item-content {
  height: auto !important;
}

.search-field {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.search-field > * {
  width: 100%;
}

.full-width-field {
  width: 100%;
}

.full-width-field > * {
  width: 100%;
}

.filtering-sorting-fields-row {
  padding: 0 16px;
}

.search-button {
  min-width: 5px !important;
  padding: 0 4px !important;
  color: mat-color($mat-grey, 500);
}

.mime-type-icon {
  width: 24px;
  height: 24px;
  color: mat-color($candy-app-accent, 600);
  margin-left: 10px;
}

a.mat-list-item {
  mat-icon.mat-icon.mat-list-icon {
    color: mat-color($candy-app-warn, 500);
    margin-right: 10px;
  }
}
