/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import "app-theme";

body {
  margin: 0;
}

html {
  min-width: 400px;
}

@font-face {
  font-family: KabelFamily;
  src: url('assets/fonts/Kabel Book BT.ttf');
}

div.site-title {
  font-family: KabelFamily;
  font-weight: 100;
  font-size: 2.5em;
  margin-left: 10px;
  /*color: #488aff;*/
  color: #fafafa;
}

.spacer {
  flex: 1 1 auto;
}

mat-progress-spinner.small svg{
  width: 50px !important;
  height: 50px !important;
}

.item-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.list-container {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 50px;
}

.form-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-flex > * {
  width: 100% !important;
}

.mat-divider {
  width: 100%;
  display: block;
  border-top: 1px solid mat-color($mat-grey, 400);
}

#com_asprise_scan_app_ok {
  display: none !important;
}

.full-screen-dialog .mat-dialog-container {
  max-width: none;
  width: 97vw;
  height: 97vh;
}

.half-screen-dialog .mat-dialog-container {
  min-width: 50vw;
}

app-files-list {
  width: 100%;
}
