<div class="list-container">
  <mat-card>
    <div fxLayout="row">
      <h3 class="mat-title">
        {{pageTitle}}
      </h3>
      <h3 class="mat-title" *ngIf="Expense && Expense.Name" style="margin-left: 5px"><i>{{Expense.Name}}</i></h3>
    </div>
    <form #f="ngForm" class="form-flex" (ngSubmit)="submit(f.value)">
      <mat-form-field>
        <input matInput placeholder="Name" required name="name" [(ngModel)]="Expense.Name">
        <mat-error *ngIf="f.hasError('required', 'name')">
          Expense name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" name="description" [(ngModel)]="Expense.Description"></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput currencyMask placeholder="Amount" name="amount"
               [options]="{suffix: ' zł', thousands: ' ', decimal: ',', prefix: ''}" required
               [(ngModel)]="Expense.Amount"
               pattern="^((0?0?\.([1-9]\d*|0[1-9]\d*))|(([1-9]|0[1-9])\d*(\.\d+)?))$">
        <mat-error *ngIf="f.hasError('required', 'amount')">
          Expense amount is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="f.hasError('pattern', 'amount')">
          Expense amount must be non-negative value (at least 0,01 zł)
        </mat-error>
      </mat-form-field>
      <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px"
           style="margin-top: 40px; margin-bottom: 40px;"
           *ngIf="!Expense.Bill.BillData">
        <button mat-raised-button color="warn" (click)="scan()" type="button">
          <mat-icon>receipt</mat-icon>
          ATTACH BILL
        </button>
      </div>
      <app-files-list *ngIf="Expense.Bill.BillFile" [data]="[Expense.Bill.BillFile]"></app-files-list>
      <div fxLayout="column" fxLayoutAlign="center center" *ngIf="Expense.Bill.BillData">
        <div *ngIf="Expense.Bill.MimeType && Expense.Bill.MimeType.includes('image')">
          <img (click)="enlarge()"
               [src]="sanitizer.bypassSecurityTrustUrl(Expense.Bill.BillData)" height="250" class="bill-preview"
               matTooltip="Click to enlarge" [matTooltipPosition]="'after'">
        </div>
        <div style="margin: 20px;">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
            <button mat-raised-button color="accent" (click)="scan()" type="button">
              <mat-icon>mode_edit</mat-icon>
              CHANGE
            </button>
            <button mat-raised-button color="warn" type="button" (click)="downloadBill()">
              <mat-icon>file_download</mat-icon>
              Download
            </button>
          </div>
        </div>
      </div>
      <mat-action-row>
        <button mat-raised-button routerLink="/expenses">
          <mat-icon>close</mat-icon>
          Cancel
        </button>
        <div fxFlex></div>
        <div fxLayout="row" fxLayoutGap="15px">
          <button mat-raised-button type="reset">
            <mat-icon>clear_all</mat-icon>
            Clear
          </button>
          <!--|| !Expense.Bill || (!Expense.Bill.BillData && !Expense.Bill.BillFile)-->
          <button mat-raised-button color="accent" type="submit"
                  [disabled]="!f.valid || !Expense.Bill || (!Expense.Bill.BillData && !Expense.Bill.BillFile)">
            <mat-icon>send</mat-icon>
            Submit
          </button>
        </div>
      </mat-action-row>
    </form>
  </mat-card>
</div>
